@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --black: 237 100% 4%;
    --gray1: 235 16% 15%;
    --gray2: 235 12% 19%;
    --gray3: 236 11% 27%;
    --gray4: 216 15% 57%;
    --gray5: 221 69% 94%;
    --gray6: 220 69% 97%;

    /* Shadcn Theme */
    --background: 221 69% 94%;
    --foreground: 237 100% 4%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 242 48% 58%;
    --primary-hover: 243 100% 82%;
    --primary-foreground: 0 0% 100%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 78% 63%;
    --destructive-hover: 0 100% 80%;
    --destructive-foreground: 0 0% 100%;

    /* gray5 */
    --border: 221 69% 94%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --black: 237 100% 4%;
    --gray1: 235 16% 15%;
    --gray2: 235 12% 19%;
    --gray3: 236 11% 27%;
    --gray4: 216 15% 57%;
    --gray5: 221 69% 94%;
    --gray6: 220 69% 97%;

    /* Shadcn Theme */
    --background: 235 16% 15%;
    --foreground: 0 0% 100%;

    --black: 237 100% 4%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 242 48% 58%;
    --primary-hover: 243 100% 82%;
    --primary-foreground: 0 0% 100%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 78% 63%;
    --destructive-hover: 0 100% 80%;
    --destructive-foreground: 0 0% 100%;

    /* gray3 */
    --border: 236 11% 27%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  p {
    @apply max-w-prose;
  }
  .primary-filter {
    filter: brightness(0) saturate(100%) invert(42%) sepia(13%) saturate(3366%)
      hue-rotate(207deg) brightness(88%) contrast(84%);
  }
  .primary-hover-filter {
    filter: brightness(0) saturate(100%) invert(78%) sepia(18%) saturate(7265%)
      hue-rotate(199deg) brightness(99%) contrast(108%);
  }
  .gray-filter {
    filter: brightness(0) saturate(100%) invert(66%) sepia(5%) saturate(1189%)
      hue-rotate(177deg) brightness(84%) contrast(89%);
  }
  .white-filter {
    filter: brightness(0) saturate(100%) invert(97%) sepia(97%) saturate(299%)
      hue-rotate(269deg) brightness(112%) contrast(101%);
  }
  .black-filter {
    filter: brightness(0) saturate(100%) invert(1%) sepia(82%) saturate(7500%)
      hue-rotate(236deg) brightness(103%) contrast(103%);
  }
  .scrollbar {
    overflow: auto;
  }
  .scrollbar::-webkit-scrollbar {
    @apply size-2;
  }
  .scrollbar::-webkit-scrollbar-track {
    @apply bg-gray4;
  }
  .scrollbar::-webkit-scrollbar-thumb {
    @apply bg-primary rounded-full;
  }
}
